<div class="receipt-list-container">
  <div class="receipt-header">
    <div class="header-left">
      <app-back-button (backClick)="goBack()"></app-back-button>
      <h1>Receipt list</h1>
    </div>
    <div class="date-range">
      <mat-form-field>
        <mat-label>Date range</mat-label>
        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <div class="receipts-list">
    <ng-container *ngIf="receipts.length > 0; else noData">
      <div class="receipt-item" *ngFor="let receipt of receipts" (click)="navigateToDetails(receipt)">
        <div class="receipt-info">
          <div class="store-name">{{ receipt.storeName }}</div>
          <div class="receipt-date">{{ receipt.purchaseDate | date:'dd-MM-yyyy' }}</div>
        </div>
        <div class="receipt-amount">{{ receipt.totalAmount | number:'1.2-2' }} zł</div>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="no-data-message">
        No data yet
      </div>
    </ng-template>
  </div>

  <app-voice-button></app-voice-button>
</div>
